# Godot 4+ specific ignores
.godot/
/android/
*.translation

# Dialogic specific local editor history
.dialogic_history/

# System specific files
Thumbs.db
.DS_Store

*_MACOSX/
.DS_Store
/images
/audio
/video
addons/12121.json
addons/addons/open_editors/GuiClose.svg
addons/addons/open_editors/GuiClose.svg.import
/addons
